<html>
<head>
<style>
p.dotted{border-style:dotted;border-width:10px;border-color:red;}
p.dashed{border-style:dashed;border-width:thick;border-color:blue;}
p.solid{border-style:solid;}
p.groove{border-style:groove;}
p.ridge{border-style:ridge;}
p.inset{border-style:inset;}
p.outset{border-style:outset;}
p.none{border-style:none;}
</style>
</head>
</html>


